{% extends "base.html" %}

{% block body %}
    <div class="w-full px-4 py-8 bg-white dark:bg-gray-700 dark:text-white shadow-md rounded-lg mt-8">
        <div class="flex flex-row items-center justify-center">
            <h1 class="text-2xl font-semibold mb-4 flex-1">My Generations</h1>
            <a href="{% url 'dash:generation-add' %}"
               class="flex items-center gap-2 bg-green-400 text-white py-2 px-4 rounded-xl dark:bg-green-800 dark:text-gray-100">
                        <span class="h-full">
                            Add New
                        </span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
            </a>
        </div>
        <div class="mt-4 ">
            <table class="w-full divide-y divide-gray-200">
                <thead class="bg-gray-50 text-gray-500 dark:bg-gray-700 dark:text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        ID
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        Title
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        Author
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        Presentation
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                        Source
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y text-gray-500 divide-gray-200 dark:bg-gray-700 dark:text-white">
                {% for item in history %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">{{ item.pk }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm">{{ item.title }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm">{{ item.author_override }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm">
                            {% if item.is_processing %}
                                Processing
                            {% else %}
                            <div class="flex space-x-2">
                                <a href="{{ item.presentation.url }}" class="hover:underline" download>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"></path>
                                    </svg>
                                </a>
                                <a href="{{ item.presentation.url }}" class="hover:underline" download>
                                   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
                                    </svg>
                                </a>
                            </div>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm flex space-x-2">
                            <a href="{{ item.document.url }}" class="hover:underline" download>
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "components/pagination.html" %}
{% endblock %}
